# .gitignore

# Ignore config file with sensitive information
config.py

# Python-related files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# IDE-specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db
