{% extends "base.html" %} {# Inherits from the base.html template #}

{% block content %} {# Defines the content block #}
<h1>About Us</h1>
<p>Meet the team behind the S&P 500 Dashboard:</p>
<ul>
    <li>Mohamedmehdi Khaku</li>
    <li>Daniela Molina</li>
    <li>Jennifer Giraldo Davila</li>
    <li>Marie Louise Iraba</li>
    <li>Israa Adam</li>
    <li>Pratiksha Nikam</li>
</ul>
<p>We are a group of data enthusiasts dedicated to exploring and analyzing financial data.</p>

<h2>Disclaimer</h2>
<p>We are not financial advisors. Users should consult their own Certified Public Accountant (CPA) or financial advisor before making any investment decisions.</p>
{% endblock %} {# Ends the content block #}