{% extends "base.html" %} {# Inherits from the base.html template #}

{% block content %} {# Defines the content block #}
<h1>Revenue Analysis of S&P 500 Companies</h1>

    <!-- <div id="sectorbubblechart" style="width:100%; height:600px;"></div> -->
    <div id="sector-chart" style="width:100%; height:600px;"></div> {# Container for the sector chart #}
    <script src="/static/js/revenue.js"></script> {# Includes the JavaScript file for the revenue chart #}

{% endblock %} {# Ends the content block #}