{% extends "base.html" %}

{% block content %}
<h1>Welcome to the S&P 500 Dashboard</h1>
<p>The website aims to develop an Interactive Stock Market Visualization Tool to help users analyze historical stock market performance for the S&P 500 through a dynamic dashboard. 
    The site features historical stock data with interactive visualizations, such as time-series charts, comparative performance analysis, and a sector-based heatmap.</p>
<h2>What is the S&P 500?</h2>
<p>The S&P 500, or Standard & Poor’s 500 Index, is one of the most prominent stock market indices, tracking the performance of approximately 500 of the largest publicly traded companies in the United States. 
    It is widely regarded as a benchmark for the overall U.S. stock market and economy due to its broad representation across all major sectors, including technology, healthcare, and finance.</p>
{% endblock %}
